<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (booktesting(); as booktestingRef) {
      <div>
        <h2 data-cy="booktestingDetailsHeading"><span>Booktesting</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ booktestingRef.id }}</span>
          </dd>
          <dt><span>Name</span></dt>
          <dd>
            <span>{{ booktestingRef.name }}</span>
          </dd>
          <dt><span>Lastname</span></dt>
          <dd>
            <span>{{ booktestingRef.lastname }}</span>
          </dd>
          <dt><span>Email</span></dt>
          <dd>
            <span>{{ booktestingRef.email }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/booktesting', booktestingRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
