<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (review(); as reviewRef) {
      <div>
        <h2 data-cy="reviewDetailsHeading"><span>Review</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ reviewRef.id }}</span>
          </dd>
          <dt><span>Opinion</span></dt>
          <dd>
            <span>{{ reviewRef.opinion }}</span>
          </dd>
          <dt><span>Rating</span></dt>
          <dd>
            <span>{{ reviewRef.rating }}</span>
          </dd>
          <dt><span>Manytoone</span></dt>
          <dd>
            @if (review()!.manytoone) {
              <div>
                <a [routerLink]="['/booktesting', review()!.manytoone?.id, 'view']">{{ reviewRef.manytoone?.id }}</a>
              </div>
            }
          </dd>
          <dt><span>User</span></dt>
          <dd>
            <span>{{ reviewRef.user?.id }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/review', reviewRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
